._1_dLE._2yGlg {
  background-color: #fff;
}

._1_dLE {
  flex: 1;
  padding-bottom: 0;
  -ms-flex-preferred-size: auto;
}
._2nuC5 {
  margin: 0 auto;
  max-width: 1280px;
}

._1U6Yu {
  width: 100%;
  margin: 0;
}
._1GmUa {
  padding: 28px 16px 20px;
}
.rui-WqATt {
  flex-direction: row;
}
.rui-1fOtL {
  align-items: flex-start;
}
.rui-21NjD {
  justify-content: flex-start;
}
.rui-3gsfa {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.rui-mQmOs {
  flex: 0 0 25%;
  max-width: 25%;
}
.rui-2NPn- {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
._3CF4o {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 52px 16px 16px 0;
}

._1HszL {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rui-1gV1x {
  background-position: 50%;
  background-size: cover;
  border-radius: 50%;
  margin: 0;
  position: relative;
  overflow: hidden;
}
.rui-1wy7R {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 28px;
  background: rgba(0, 47, 52, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.rui-1kebF {
  fill: #fff;
}
._2fQ2P {
  margin: 12px 0;
  border: 1px solid rgba(0, 47, 52, 0.2);
}
._12yg3 {
  background: #ebeeef;
  padding: 4px 8px;
}
.rui-2jBR- {
  text-transform: uppercase;
}

.rui-2Mm6c {
  font-size: 14px;
  line-height: 20px;
}
.rui-6BzOY {
  font-weight: 700;
}
._2qVza {
  padding: 8px;
}
._8F1JI,
._1aGgr {
  height: 24px;
  color: rgba(0, 47, 52, 0.64);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  text-transform: none;
  padding: 4px 0;
}
._2QR9Q {
  font-size: 14px;
  width: 32px;
  text-align: right;
  font-weight: 700;
  color: #002f34;
}
._2tbys {
  background: #ebeeef;
  padding: 4px 8px;
}
.enADb {
  margin: 12px 0;
  border: 1px solid rgba(0, 47, 52, 0.2);
}
.rui-2Mm6c {
  font-size: 14px;
  line-height: 20px;
}
.rui-6BzOY {
  font-weight: 700;
}
.a_xFX {
  padding: 8px;
}
._1IG2d {
  height: 24px;
  color: rgba(0, 47, 52, 0.64);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px 0;
}
._3zo8X {
  float: right;
}
.rui-4K4Y7 {
  fill: #002f34;
}
._2Q0Jg {
  text-align: center;
  margin-bottom: 16px;
}
.rui-38RAu {
  font-size: 12px;
  line-height: 18px;
}
.rui-2p-vC {
  font-weight: 400;
}
._16HFI {
  max-width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #002f34;
  margin-top: 26px;
}
._102Zl {
  text-align: center;
}
._16HFI ._291nL {
  padding-bottom: 0;
  text-transform: capitalize;
}

.rui-39-wj.rui-3-PNI {
  color: #002f34;
  border-bottom: 2px solid #002f34;
  padding: 0;
  height: auto;
}
.rui-39-wj.rui-2K0j9 {
  font-size: 14px;
  height: 40px;
}
.rui-2HKTt {
  flex: 0 0 75%;
  max-width: 75%;
}
._1kckR {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid rgba(0, 47, 52, 0.2);
  border-radius: 4px;
}
._2MPdS {
  padding: 16px 24px;
  border-bottom: 1px solid rgba(0, 47, 52, 0.2);
}
.rui-xL1fl {
  font-size: 20px;
  line-height: 24px;
}
.rui-6BzOY {
  font-weight: 700;
}
._1kckR ._2w1mZ {
  padding: 16px 24px 0;
}
._1PFlw {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 47, 52, 0.2);
}
.rui-WqATt {
  flex-direction: row;
}
.rui-1MkV7 {
  flex: 0 0 50%;
  max-width: 50%;
}
._1Pl_U {
  margin: 0 8px 16px 0;
}
.rui-3OXDo .rui-2zp0U.rui-2rouh {
  background: #fff;
  box-shadow: inset 0 0 0 1px rgb(0 47 52 / 64%);
}
.rui-3OXDo .rui-2zp0U {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 4px;
  border-style: none;
  margin: 4px 0;
  flex-wrap: wrap;
  position: relative;
}
.rui-3OXDo .rui-1rV1O {
  display: flex;
}
.rui-3OXDo .rui-3FLBC {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.rui-3OXDo .rui-_74YY {
  font-size: 12px;
}
._3kyOc,
._1ryeS {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #002f34;
  padding: 8px 0;
}
.rui-2myeQ {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
._38UNB {
  margin: 4px 0 0 8px;
}
._19KyJ {
  border: 1px solid rgba(0, 47, 52, 0.2);
  padding: 12px;
}
._19KyJ ._1aGrQ {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
._19KyJ ._21qHn {
  margin-left: 4px;
}
.rui-2Mm6c {
  font-size: 14px;
  line-height: 20px;
}
._19KyJ ._1DQVw {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 47, 52, 0.64);
  margin: 0;
}
.txWap {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #002f34;
  padding: 8px 0;
}
.rui-VcF_8 {
  font-size: 16px;
  line-height: 24px;
}
.yvvJ0:last-child {
  border-bottom: 1px solid rgba(0, 47, 52, 0.2);
}

.yvvJ0 {
  padding-bottom: 8px;
}
.rui-WqATt {
  flex-direction: row;
}
.rui-1fOtL {
  align-items: flex-start;
}
.rui-21NjD {
  justify-content: flex-start;
}
.rui-3gsfa {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.rui-1MkV7 {
  flex: 0 0 50%;
  max-width: 50%;
}
._17JRt,
.sAQZa {
  position: relative;
  height: 100%;
}
.rui-1pgaV.rui-Vcp5d {
  left: auto;
  right: 0;
}

.rui-1pgaV {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin: 0 12px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.rui-3OXDo .rui-24zaD {
  display: flex;
  z-index: 2;
  cursor: pointer;
}
.rui-1ftqL {
  fill: #00a49f;
}
.rui-3OXDo .rui-1rV1O {
  display: flex;
}
.rui-3OXDo .rui-3FLBC {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.rui-3OXDo .rui-_74YY {
  font-size: 12px;
}
.rui-3OXDo span {
  color: rgba(0, 47, 52, 0.64);
  font-size: 12px;
}
.rrioi {
  margin: 11px 0 0 8px;
}
.rui-38RAu {
  font-size: 12px;
  line-height: 18px;
}

.rui-2p-vC {
  font-weight: 400;
}
.rui-u2K6U {
  margin: 0;
}

.rui-1Eu0K {
  color: rgba(0, 47, 52, 0.64);
}
.cjwC3 {
  padding: 8px 0;
}
.rui-VcF_8 {
  font-size: 16px;
  line-height: 24px;
}
.rui-WqATt {
  flex-direction: row;
}

.rui-13Hd1 {
  align-items: center;
}
.rui-21NjD {
  justify-content: flex-start;
}
.rui-3gsfa {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.rui-1MkV7 {
  flex: 0 0 50%;
  max-width: 50%;
}
._11JSv {
  padding-bottom: 16px;
  margin-right: 8px;
}
._11JSv ._7KN_Z {
  font-size: 14px;
}
._11JSv .Hh1fz {
  font-size: 12px;
  line-height: 18px;
  margin: 4px 0 0;
  color: rgba(0, 47, 52, 0.64);
}
.rui-2myeQ {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
._3bd8o {
  margin-left: 8px;
}
.ATkOk {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 47, 52, 0.2);
  margin-top: 16px;
  padding: 16px 24px;
}
.rui-39-wj.rui-3-PNI {
  color: #002f34;
  border-bottom: 2px solid #002f34;
  padding: 0;
  height: auto;
}
.rui-39-wj.rui-1JPTg {
  font-size: 16px;
  height: 48px;
}
.rui-39-wj.rui-3evoE {
  color: #002f34;
  border-radius: 4px;
  border: 2px solid #002f34;
  padding: 0 10px;
}

.rui-39-wj.rui-2NuAg {
  width: 100%;
}
.rui-39-wj.rui-2K0j9 {
  font-size: 14px;
  height: 40px;
}
.rui-39-wj.rui-3mpqt {
  color: #fff;
  background-color: #002f34;
  border-radius: 4px;
  border: 5px solid #002f34;
  padding: 0 7px;
}
.rui-39-wj.rui-1JPTg {
  font-size: 16px;
  height: 48px;
}
